body{
    text-align: center;
    font-family: 'Source Sans 3', sans-serif;
    background-color: #FEFAE0;
  }
  
  div.load-container{
    margin: 6rem auto;
    width: 200px;
    display: block;
  }
  
  div.loader{
    animation: rotate 2s infinite ease;
    margin: auto;
    width: 40px;
    height: 40px;
    border: 4px solid #CCE6F4;
    border-top-color: #003844;
    border-right-color: #FFB100;
    border-bottom-color: #006C67;
    border-left-color: #F194B4;
    border-radius: 50%;
  }
  
  /* animations */
  @keyframes rotate{
    0%{
      transform: rotate(0deg);
    }
    10%{
      transform: rotate(-45deg);
    }
    100%{
      transform: rotate(720deg);
    }
  }